@model IEnumerable<blog.Models.Tag>

@if (Model != null && Model.Any())
{
    foreach (var tag in Model)
    {
        <a href="#" class="size-@tag.Size">@tag.Text — @tag.Count</a>
    }
}
else
{
    <a href="#">none</a>
}

