<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT settingDocType ANY>
<!ATTLIST settingDocType id ID #REQUIRED>
<!ELEMENT homeDocType ANY>
<!ATTLIST homeDocType id ID #REQUIRED>
<!ELEMENT seoDocType ANY>
<!ATTLIST seoDocType id ID #REQUIRED>
<!ELEMENT postDocType ANY>
<!ATTLIST postDocType id ID #REQUIRED>
<!ELEMENT pageDocType ANY>
<!ATTLIST pageDocType id ID #REQUIRED>
]>
<root id="-1">
  <homeDocType id="1055" key="aa621a6d-50fd-4a42-820a-e9bfa7e5a376" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-19T19:25:23" updateDate="2018-02-19T19:25:23" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1054" creatorName="Quang Phan" writerName="Quang Phan" writerID="0" template="1053" nodeTypeAlias="homeDocType" isPublished="true">
    <postDocType id="1063" key="a32ed98c-8c0d-4975-b694-46b6a1613524" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-02-19T22:23:42" updateDate="2018-02-22T13:25:22" nodeName="Hello World" urlName="hello-world" path="-1,1055,1063" isDoc="" nodeType="1059" creatorName="Quang Phan" writerName="Quang Phan" writerID="0" template="1070" nodeTypeAlias="postDocType" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <metaDescription><![CDATA[Hello World from Phan Tien Quang's blog]]></metaDescription>
      <disableComment>0</disableComment>
      <pageTitle><![CDATA[Hello World]]></pageTitle>
      <umbracoUrlName><![CDATA[hello world]]></umbracoUrlName>
      <viewCount>11</viewCount>
      <bodyText><![CDATA[`alert("hello world");`]]></bodyText>
      <excerpt><![CDATA[This is my very first post :)]]></excerpt>
      <disabledFacebookPlugins>1</disabledFacebookPlugins>
    </postDocType>
  </homeDocType>
  <settingDocType id="1074" key="360fee6b-ee2e-4f1c-8982-d8e54609b9e0" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-02-23T11:17:08" updateDate="2018-02-23T11:45:29" nodeName="Setting" urlName="setting" path="-1,1074" isDoc="" nodeType="1073" creatorName="Quang Phan" writerName="Quang Phan" writerID="0" template="1075" nodeTypeAlias="settingDocType" isPublished="true" />
</root>