<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homeDocType ANY>
<!ATTLIST homeDocType id ID #REQUIRED>
<!ELEMENT seoDocType ANY>
<!ATTLIST seoDocType id ID #REQUIRED>
<!ELEMENT postDocType ANY>
<!ATTLIST postDocType id ID #REQUIRED>
<!ELEMENT pageDocType ANY>
<!ATTLIST pageDocType id ID #REQUIRED>
]>
<root id="-1">
  <homeDocType id="1055" key="aa621a6d-50fd-4a42-820a-e9bfa7e5a376" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-19T19:25:23" updateDate="2018-02-19T19:25:23" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1054" creatorName="Quang Phan" writerName="Quang Phan" writerID="0" template="1053" nodeTypeAlias="homeDocType" isPublished="true" />
</root>