<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homeDocType ANY>
<!ATTLIST homeDocType id ID #REQUIRED>
<!ELEMENT seoDocType ANY>
<!ATTLIST seoDocType id ID #REQUIRED>
<!ELEMENT postDocType ANY>
<!ATTLIST postDocType id ID #REQUIRED>
<!ELEMENT pageDocType ANY>
<!ATTLIST pageDocType id ID #REQUIRED>
]>
<root id="-1">
  <homeDocType id="1055" key="aa621a6d-50fd-4a42-820a-e9bfa7e5a376" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-19T19:25:23" updateDate="2018-02-19T19:25:23" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1054" creatorName="Quang Phan" writerName="Quang Phan" writerID="0" template="1053" nodeTypeAlias="homeDocType" isPublished="true">
    <postDocType id="1067" key="6ab04334-8343-4f7d-8fed-15de9ce43b5b" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2018-02-19T22:36:17" updateDate="2018-02-21T09:11:12" nodeName="Đoạn code thú vị" urlName="interesting-code-snippet" path="-1,1055,1067" isDoc="" nodeType="1059" creatorName="Quang Phan" writerName="Quang Phan" writerID="0" template="1070" nodeTypeAlias="postDocType" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <metaKeyworks><![CDATA[c#, code 4 fun]]></metaKeyworks>
      <metaDescription><![CDATA[Code for fun]]></metaDescription>
      <disableComment>0</disableComment>
      <pageTitle><![CDATA[Đoạn code thú vị]]></pageTitle>
      <tags><![CDATA[c#,code4fun]]></tags>
      <umbracoUrlName><![CDATA[interesting code snippet]]></umbracoUrlName>
      <viewCount>2</viewCount>
      <bodyText><![CDATA[# Đoạn code thú vị

### Ví dụ

<script src="https://gist.github.com/oclockvn/eab365465eb06319e22d.js"></script>


Hãy để ý dòng số 4 (dòng 14 hình dưới), và kết quả là:

![magic code][1]

Bạn đã bắt đầu thấy tò mò chưa? Tại sao có dòng số 4 mà đoạn code vẫn biên dịch và chạy như thường. Nếu xem xét kỹ thì sẽ hiểu ngay:

- http: đánh dấu 1 nhãn (label) trong c#, được dùng với lệnh goto.
- `//phantienquang.blogspot.com/` chắc hẳn là 1 đoạn comment vì nằm sau dấu `//`

### Giải thích

Để hiểu rõ hơn, mình thêm 1 dòng code như sau:

<script src="https://gist.github.com/oclockvn/1de4907b266a02b9438a.js"></script>

Tất nhiên, kết quả sẽ bị lược bỏ dòng 5 vì lệnh goto đã nhảy tới nhãn http:

![explain][2]


  [1]: /media/1001/interesting-code.png
  [2]: /media/1002/curious-code-debug-3.png]]></bodyText>
      <excerpt><![CDATA[Giải trí tí nào]]></excerpt>
    </postDocType>
    <postDocType id="1068" key="5fb882b8-f013-49f0-8956-9f61a3d103bb" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2018-02-19T23:27:33" updateDate="2018-02-21T10:27:48" nodeName="Kiểm tra url có hoạt động tốt hay không?" urlName="kiem-tra-url-co-hoat-dong-tot-hay-khong" path="-1,1055,1068" isDoc="" nodeType="1059" creatorName="Quang Phan" writerName="Quang Phan" writerID="0" template="1070" nodeTypeAlias="postDocType" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <disableComment>0</disableComment>
      <pageTitle><![CDATA[Kiểm tra url có hoạt động tốt hay không?]]></pageTitle>
      <viewCount>7</viewCount>
      <bodyText><![CDATA[Kiểm tra url có hoạt động tốt hay không?]]></bodyText>
      <excerpt><![CDATA[Kiểm tra url có hoạt động tốt hay không?]]></excerpt>
    </postDocType>
    <postDocType id="1069" key="7544ef4e-09b5-422c-9b87-b4dccb9be97a" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2018-02-19T23:30:49" updateDate="2018-02-21T10:27:19" nodeName="Kiểm tra lại url mới" urlName="kiem-tra-lai-url-moi" path="-1,1055,1069" isDoc="" nodeType="1059" creatorName="Quang Phan" writerName="Quang Phan" writerID="0" template="1070" nodeTypeAlias="postDocType" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <disableComment>0</disableComment>
      <pageTitle><![CDATA[Kiểm tra lại url mới]]></pageTitle>
      <viewCount>4</viewCount>
      <bodyText><![CDATA[Kiểm tra lại url mới]]></bodyText>
      <excerpt><![CDATA[Kiểm tra lại url mới]]></excerpt>
    </postDocType>
  </homeDocType>
</root>