@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using blog.Models
@using Our.Umbraco.Ditto
@{
    Layout = "Master.cshtml";

    var content = Model.Content.As<HomeViewModel>();
    var posts = content.Children ?? new List<PreviewPostViewModel>();
}

<!-- homepage -->
<div class="flex-container homepage-container">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="preview-container">
                <div class="previews">
                    @if (posts.Any())
                    {
                        foreach (var post in posts)
                        {
                            @Html.Partial("_PreviewPost", post);
                        }
                    }
                </div>

                <div class="preview-paging">
                    <ul class="paging">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>...</li>
                        <li><a href="#">>></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /left side -->

        <div class="col-md-4 sidebar" id="sidebar">
            <aside class="tag-container widget">
                <h4 class="widget-title">tags</h4>
                <div class="tags widget-content">
                    <a href="#">lorem</a>
                    <a href="#">dolor</a>
                    <a href="#">sit</a>
                    <a href="#">amet</a>
                    <a href="#">js</a>
                    <a href="#">css</a>
                    <a href="#">c#</a>
                    <a href="#">asp.net mvc</a>
                </div>
            </aside>
            <!-- tags -->

            <aside class="popular-post-container widget">
                <h4 class="widget-title">popular posts</h4>
                <div class="widget-content popular-posts">
                    <div class="popular-post">
                        <h5 class="pp-title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                            <a href="#">[...]</a>
                        </h5>
                        <div class="pp-meta row no-gutters">
                            <span class="col">
                                <time time="">2 days ago</time>
                            </span>
                        </div>
                    </div>

                    <div class="popular-post">
                        <h5 class="pp-title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                            <a href="#">[...]</a>
                        </h5>
                        <div class="pp-meta row no-gutters">
                            <span class="col">
                                <time time="">2 days ago</time>
                            </span>
                        </div>
                    </div>

                    <div class="popular-post">
                        <h5 class="pp-title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                            <a href="#">[...]</a>
                        </h5>
                        <div class="pp-meta row no-gutters">
                            <span class="col">
                                <time time="">2 days ago</time>
                            </span>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <!-- /right side -->
    </div>
</div>

@section scripts {
    <script>
        var waypoint = new Waypoint({
            element: document.getElementById('sidebar'),
            handler: function(direction) {
                // notify(this.element.id + ' triggers at ' + this.triggerPoint)
                if (direction === 'down') {
                    $(this.element).addClass('fixed');
                } else {
                    $(this.element).removeClass('fixed');
                }
            }
        });

        // timeago().render($('.timeago'), 'vi');
    </script>    
}