@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Phan Tien Quang</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/Content/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/lumx.css" rel="stylesheet">
    <link href="~/Content/styles/common.css" rel="stylesheet">
    <link href="~/Content/styles/style.css" rel="stylesheet">

</head>

<body>

    @RenderBody()

    <div class="introduction">
        <div class="inner">
            <h2>Phan Tiến Quang</h2>
            <div>Simple man. Simple code. Simple life.</div>
        </div>
    </div>

    <header class="header">
        <div class="container-fluid">
            <div class="header-container max-size">
                <div class="brand">
                    <a href="/" title="homepage">quang</a>
                </div>
                <nav class="nav">
                    <ul class="menu">
                        <li>
                            <a href="#">cv</a>
                        </li>
                        <li>
                            <a href="#">blogs</a>
                        </li>
                        <li>
                            <a href="#">movies</a>
                        </li>
                        <li>
                            <a href="#">love</a>
                        </li>
                        <!-- <li>
                            <a href="#">services</a>
                        </li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="main">

        <!-- homepage -->
        <div class="flex-container homepage-container">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="preview-container">
                        <div class="previews">
                            <div class="preview container-fluid">
                                <div class="row max-size">
                                    <div class="col-md-6 preview-left">
                                        <div class="preview-tags">
                                            <a href="#">#lorem</a>
                                            <a href="#">#ipsum</a>
                                            <a href="#">#dolor</a>
                                        </div>
                                        <h3 class="preview-title">
                                            <a href="#">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eius ipsam quis, veniam ipsum laudantium ratione
                                            </a>
                                        </h3>
                                        <div class="preview-meta">
                                            <div class="align-items-center mr- no-gutters row writer">
                                                <a href="#">
                                                    <img src="img/user.png" alt="writer" class="mr-">
                                                </a>
                                                <span class="mr-">by</span>
                                                <a href="#">
                                                    <span>Tien Quang</span>
                                                </a>
                                            </div>
                                            <div class="published">
                                                <span>—</span>
                                                <time time="">2 days ago</time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 preview-right align-self-center">
                                        <!-- <a href="#" class="readmore">read more</a> -->
                                        <p class="excerpt">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates rerum quasi aliquid? Perspiciatis magni ipsum rerum
                                            minima eos aliquid expedita voluptates omnis unde reprehenderit! Adipisci ut
                                            molestias quia recusandae.
                                            <a href="#" class="ml" title="read more">[...]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /preview container-fluid -->

                            <div class="preview container-fluid">
                                <div class="row max-size">
                                    <div class="col-md-6 preview-left">
                                        <div class="preview-tags">
                                            <a href="#">#lorem</a>
                                            <a href="#">#ipsum</a>
                                            <a href="#">#dolor</a>
                                        </div>
                                        <h3 class="preview-title">
                                            <a href="#">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eius ipsam quis, veniam ipsum laudantium ratione
                                            </a>
                                        </h3>
                                        <div class="preview-meta">
                                            <div class="align-items-center mr- no-gutters row writer">
                                                <a href="#">
                                                    <img src="img/user.png" alt="writer" class="mr-">
                                                    <span>Tien Quang</span>
                                                </a>
                                            </div>
                                            <div class="published">
                                                <time time="">2 days ago</time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 preview-right align-self-center">
                                        <!-- <a href="#" class="readmore">read more</a> -->
                                        <p class="excerpt">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates rerum quasi aliquid? Perspiciatis magni ipsum rerum
                                            minima eos aliquid expedita voluptates omnis unde reprehenderit! Adipisci ut
                                            molestias quia recusandae.
                                            <a href="#" class="ml">[...]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /preview container-fluid -->

                            <div class="preview container-fluid">
                                <div class="row max-size">
                                    <div class="col-md-6 preview-left">
                                        <div class="preview-tags">
                                            <a href="#">#lorem</a>
                                            <a href="#">#ipsum</a>
                                            <a href="#">#dolor</a>
                                        </div>
                                        <h3 class="preview-title">
                                            <a href="#">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eius ipsam quis, veniam ipsum laudantium ratione
                                            </a>
                                        </h3>
                                        <div class="preview-meta">
                                            <div class="align-items-center mr- no-gutters row writer">
                                                <a href="#">
                                                    <img src="img/user.png" alt="writer" class="mr-">
                                                    <span>Tien Quang</span>
                                                </a>
                                            </div>
                                            <div class="published">
                                                <time time="">2 days ago</time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 preview-right align-self-center">
                                        <!-- <a href="#" class="readmore">read more</a> -->
                                        <p class="excerpt">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates rerum quasi aliquid? Perspiciatis magni ipsum rerum
                                            minima eos aliquid expedita voluptates omnis unde reprehenderit! Adipisci ut
                                            molestias quia recusandae.
                                            <a href="#" class="ml">[...]</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /preview container-fluid -->
                        </div>

                        <div class="preview-paging">
                            <ul class="paging">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>...</li>
                                <li><a href="#">>></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /left side -->

                <div class="col-md-4 sidebar" id="sidebar">
                    <aside class="tag-container widget">
                        <h4 class="widget-title">tags</h4>
                        <div class="tags widget-content">
                            <a href="#">lorem</a>
                            <a href="#">dolor</a>
                            <a href="#">sit</a>
                            <a href="#">amet</a>
                            <a href="#">js</a>
                            <a href="#">css</a>
                            <a href="#">c#</a>
                            <a href="#">asp.net mvc</a>
                        </div>
                    </aside>
                    <!-- tags -->

                    <aside class="popular-post-container widget">
                        <h4 class="widget-title">popular posts</h4>
                        <div class="widget-content popular-posts">
                            <div class="popular-post">
                                <h5 class="pp-title">
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                                    <a href="#">[...]</a>
                                </h5>
                                <div class="pp-meta row no-gutters">
                                    <span class="col">
                                        <time time="">2 days ago</time>
                                    </span>
                                </div>
                            </div>

                            <div class="popular-post">
                                <h5 class="pp-title">
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                                    <a href="#">[...]</a>
                                </h5>
                                <div class="pp-meta row no-gutters">
                                    <span class="col">
                                        <time time="">2 days ago</time>
                                    </span>
                                </div>
                            </div>

                            <div class="popular-post">
                                <h5 class="pp-title">
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
                                    <a href="#">[...]</a>
                                </h5>
                                <div class="pp-meta row no-gutters">
                                    <span class="col">
                                        <time time="">2 days ago</time>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- /right side -->
            </div>
        </div>
    </div>

    @Html.Partial("_Footer")

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/Scripts/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Scripts/mdb.min.js"></script>

    <script src="~/Scripts/noframework.waypoints.min.js"></script>
    <script>
        var waypoint = new Waypoint({
            element: document.getElementById('sidebar'),
            handler: function(direction) {
                // notify(this.element.id + ' triggers at ' + this.triggerPoint)
                if (direction === 'down') {
                    $(this.element).addClass('fixed');
                } else {
                    $(this.element).removeClass('fixed');
                }
            }
        });
    </script>
</body>

</html>