<footer class="footer">
    <div class="footer-top">
        <div class="max-size">
            <div class="socials">
                <a href="https://facebook.com/phantienquang" class="fb" title="facebook" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/oclockvn" class="github" title="github" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://vn.linkedin.com/in/oclockvn" class="linkedin" title="linked in" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
            <div class="quicklinks">
                <a href="#">home</a>
                <a href="#">sitemap</a>
                <a href="#">policy &amp; privacy</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <span>Quang</span>
        <i class="mh- heartbeat"></i>
        <span>Bèo</span>
    </div>
</footer>
