<footer class="footer">
    <div class="footer-top">
        <div class="max-size">
            <div class="socials">
                <a href="#" class="fb">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#" class="github">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="#" class="linkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
            <div class="quicklinks">
                <a href="#">home</a>
                <a href="#">sitemap</a>
                <a href="#">policy &amp; privacy</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <span>Quang</span>
        <i class="mh- heartbeat"></i>
        <span>Bèo</span>
    </div>
</footer>
