$post_color: #f42;

.post-header-container {
    padding-top: 16px;
    padding-bottom: 64px;

    h1 {
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 8px;
        color: $post_color;
      }
} 

.page__content {
    p {
        margin-bottom: 1.25em;
    }

    h3 {
        margin-top: 1.65em;
        margin-bottom: .5em;
        font-weight: 600;
        font-size: 2em;
    }

    ul, ol {
        margin: 0 0 1.25em 2.5em;
    }

    code {
        padding: 2px 4px;
          font-size: 90%;
          color: #c7254e;
          background-color: #f9f2f4;
          border-radius: 4px;
    }

    img {
        display: inline-block;
        margin: auto;
        max-width: 100%;
    }

    blockquote p {
        font-size: 1em;
    }
}